<div class='main-background'>
	<div class='row text-center no-pad-mar'>
		<div class='main_login_container'>
			<a href='/auth/twitter'>
				<div class='row no-pad-mar'>
					<div class='col-xs-2'><span class='fa fa-twitter'></span></div>
					<div class='col-xs-10'>
						<span class='text-center'>Login With TWITTER</span>
					</div>		
				</div>
			</a>
		</div>
	</div>
</div>